main{
    
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 55px;

}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    margin-top: 40px;
    height: 500px;   
    
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 35px; 
    color: white; 
    padding-bottom: 25px;
    
    
  }



.intro-title{
    margin-left: 0;
    font-size: 50px;
    font-weight: bold;
    
    
    
}

.fa-star{
    margin-top: 7px;
    font-size: 23px;
}

.unchecked{
    
    opacity: 0.5
}
.checked {
    color: #9732A7;
  }

  .intro-categories{
    margin-top: 15px;
  }

  .genre{
    font-size: 15px;
    background-color: rgba(17, 24, 39, 1);
    padding: 5px;
    margin-right: 3px;
  }

  .intro-trailer{
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .fa-play-circle{
    margin-right: 10px ;
    text-decoration: none;
    color: #9732A7;
    font-size: 55px;
  }

  .watch{
    
    font-size: 20px;
    
  }

  .desc-title{
    font-weight: bold;
    color: #9732A7;
    font-size: 27px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 5px;
  }

  .desc-script{
    width: 65%;
    font-size: 17px;
    padding-left: 5px;
  }

  .similair-title{
    font-weight: bold;
    color: #9732A7;
    font-size: 27px;
    margin-top: 35px;
    padding-bottom: 15px;
    padding-left: 5px;
  }

  .similair-list {
    display: flex;
    text-align: center;
    justify-content: center;  
    list-style: none; 
    
}

.similair-list li {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline; 
    
}

.similair-list img{
    height: 220px;
    width: auto;
}

.comment-title{
    font-weight: bold;
    color: #9732A7;
    font-size: 27px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.act-comment .list{
  background-color: rgba(17, 24, 39, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  box-shadow: 0 2px 2px black;

  
}



.comments {
  max-width: 1000px;
  
}

.comment-session {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  
}

.act-comment {
  margin-bottom: 20px; 
}



.user-detail {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
  padding: 8px;
  overflow: hidden;
}

.user-img img {
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.comment-session .name{
  color: #93C5FD;
  text-transform: uppercase;
  font-weight: 500;
  font-weight: bold;
  cursor: pointer;
}



.act-comment .list .day{
  color: rgba(156, 163, 175, 1);
  font-size: 12px;
}

.act-comment .comment-text{
  padding: 0 15px 15px 58px;
}

.comment-box {
  background-color: rgba(17, 24, 39, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 10px;
  overflow: hidden;
  display: none;
  margin-left: 10px;
}

#please-login{
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(17, 24, 37, 1);
  border-radius: 6px;
  box-shadow: 0 2px 2px black;
  width: 300px;
  padding: 10px;
  margin-left: 10px;
}
#please-login div:not(:first-child){
  margin-top: 10px;
}

.user {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.user img {
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

textarea {
  background: white;
  width: 97%;
  height: 152px;
  margin-left: 5px;
  margin-right: 5px;
  resize: inherit;
  border-radius: 5px;
  box-shadow: 0 0 0 1px black;
}

.comment-submit {
    
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #067E94, #9732A7);
    padding: 0.75rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.comment-submit:hover {
  background: linear-gradient(135deg, #9732A7, #067E94);
  box-shadow: 0 0 5px rgba(255, 255, 255);
}


@media screen and (max-width: 600px) {
  .comments {
      padding: 10px; 
  }

  .comment-title p {
      font-size: 1.2rem; 
  }
}


.act-rating {
  background-color: rgba(17, 24, 39, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 500px;
  border-radius: 6px;
  display: flex;
  align-items: center; 
  text-align: center;
  flex-direction: column;
  margin-left: 12px;
  padding-bottom: 17px;
  padding-top: 15px;
}

.rating-title p {
  font-weight: bold;
  color: #9732A7;
  font-size: 27px;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 5px;
  
}

.rating-text {
  color: #93C5FD;
  font-size: 20px;
  margin-bottom: 20px;
}

.rating-stars {
  font-size: 24px;
  color: gray;
  cursor: pointer;
  margin-bottom: 10px;
}

.rating-stars .fa-star{
  cursor: pointer;
}



.rating-submit {
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  background: linear-gradient(135deg, #067E94, #9732A7);
  padding: 0.75rem;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.rating-submit:hover {
  background: linear-gradient(135deg, #9732A7, #067E94);
  box-shadow: 0 0 5px rgba(255, 255, 255);
}

.video{
  text-decoration: none;
  color: white;
}












