main{
    margin-left: 150px;
}
main > div{
    display: flex;
    flex-wrap: wrap;
    border: 4px solid;
    border-image: linear-gradient(135deg, #067E94, #9732A7) 30;
    width: -moz-fit-content;
    width: fit-content;
    transition: transform 250ms ease;
}
main>div:hover{
    transform: translateY(-5px);
}
main div > img{
    height: 150px;
    width: auto;
    border-right: 4px solid;
    border-image: linear-gradient(200deg, #067E94, #9732A7) 30;
}
main div>div{
    display: inherit;
    flex-wrap: inherit;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
